/* Write your code here. */
.main-background {
  background-image: linear-gradient(aqua, #fbc7d4, #9796f0);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.background {
  height: 300px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 100px;
}
.score-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}
